extends layout

block content
  div.container
    div.jumbotron
      h1(align="center")= title
      p(align="center") This is our final project for IS 217 which demonstrates our competence of javascript and it's many frameworks. In this final project we seek to create a Data Visualization for the amount of Data Request Google recieves per year from each country starting in 2009 and ending in 2013. Enjoy.
  
  p(align="center") Developed by Khalil Brown & Dino Panagos
