body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

#searchLabel
	margin-right:5px

#findBtn
	margin-left:5px

#mapdiv 
	background: #3f3f4f;color:#ffffff
	width: 100%
	height: 500px
	font-size: 11px

#myButtons
  display:inline

#myButtons a
  margin-left:5px
  margin-right:5px
